{$DOMAIN} {
	basicauth /* {
		{$BASIC_AUTH_USER} {$BASIC_AUTH_HASH}
	}

	handle /api/ws/* {
		reverse_proxy backend:8000
	}

	handle /ws/* {
		reverse_proxy backend:8000
	}

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle /projects/* {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}
}
